%h1 Playlists

%table.table.table-hover
  %thead
    %tr
      %th Title
      %th
      %th Channel
      %th
      %th

  %tbody
    - @playlists.each do |playlist|
      %tr
        %td= link_to playlist.title, playlist.watch_url
        %td= image_tag playlist.thumbnail_url, width: 80
        %td= playlist.youtube_channel.title
        %td= link_to 'Play', player_state_path(format: :json, state: { play_state: 'play', playlist_id: playlist.id }), method: :put, remote: true, class: 'js-player-state'
        %td= link_to 'Destroy', playlist, data: {confirm: 'Are you sure?'}, method: :delete

= link_to 'New Playlist', new_youtube_playlist_path, class: 'btn btn-default'

%div
  = paginate @playlists
