%h1 Playlists
= search_form_for @search do |f|
  .form-group.form-inline
    = f.search_field :title_cont, class: 'form-control', placeholder: 'Title'
    = f.submit class: 'btn btn-default'

%table.table.table-hover
  %thead
    %tr
      %th= sort_link @search, :title
      %th
      %th= sort_link @search, :youtube_channel_title, 'Channel'
      %th= sort_link @search, :updated_at
      %th
      %th

  %tbody
    - @playlists.each do |playlist|
      %tr
        %td= link_to playlist.title, playlist.watch_url
        %td= image_tag playlist.thumbnail_url, width: 80
        %td= playlist.youtube_channel.title
        %td= playlist.updated_at.to_date
        %td= link_to 'Play', player_state_path(format: :json, state: { play_state: 'play', playlist_id: playlist.id }), method: :put, remote: true, class: 'js-player-state'
        %td= link_to 'Destroy', playlist, data: {confirm: 'Are you sure?'}, method: :delete

= link_to 'New Playlist', new_youtube_playlist_path, class: 'btn btn-default'

%div
  = paginate @playlists
