!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}
    %meta{charset: 'utf-8'}
    %title mueue
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-inverse{role: 'navigation'}
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{'aria-controls' => 'navbar', 'aria-expanded' => 'false', 'data-target' => '#navbar', 'data-toggle' => 'collapse', type: 'button'}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to 'mueue', root_path, class: 'navbar-brand'
        #navbar.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li= link_to 'Playlists', youtube_playlists_path
            %li= link_to 'Player',  player_state_path
    .container
      = yield
      .panel.panel-default.player-notification.js-player-notification
        .panel-body.js-player-message
